<div class="central-panel">
  <div class="quick-info-banner">
    <p>Siguiente Abyss en 10 días</p>
    <p>Siguiente banner en 7 días</p>
    <p>Siguiente vesión en 37 días</p>
  </div>
  <div class="cards-wrapper">
    <div class="column">
      <div class="card resin-card">
        <div>plan hoy</div>
        <div>5 filas plan</div>
      </div>
      <div class="card abyss-card">abyss card</div>
    </div>
    <div class="column">
      <div class="card savings-card">
        <div>roscos pity</div>
        <div>
          <app-pulls-module-chart [data]="wishVolumeChart" [view]="[400, 250]"></app-pulls-module-chart>
        </div>
      </div>
      <div class="card wish-history-card">
        <app-five-stars-history [data]="fiveStarsHistory"></app-five-stars-history>
      </div>
    </div>
  </div>
</div>
