@import 'src/assets/variables.scss';

.card {
  background-color: $card-background-color;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  flex-grow: 1;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .resin-row,
  .wish-charts-row,
  .abyss-wish-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .resin-row {
    .today {
      flex-grow: 1;
    }
    .resin {
      flex-grow: 2;
    }
  }

  .wish-charts-row {
    .pie-charts-row {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: 15px;

      .pie-chart-container {
        flex-grow: 1;
      }
    }

    .wish-spends-chart {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }

  .abyss-wish-row {
    gap: 15px;
    .abyss-container {
      flex-grow: 1;
    }

    .wish-history-table {
      flex-grow: 2;
    }
  }
}

.central-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quick-info-banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  p {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    height: 50px;
  }

  :nth-child(1n + 2),
  :nth-child(1n + 3) {
    border-left: 2px solid white;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;

  // TEMP, BORRAR ⬇️
  div {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // TEMP, BORRAR ⬆️
}

.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: space-between;

  .column {
    flex-grow: 1;
    gap: 15px;

    :nth-child(2) {
      margin-top: 15px;
    }
  }
}
