<div class="central-panel dashboard-container">
  <!-- RESIN PLAN ROW -->
  <div class="resin-row">
    <div class="today">today</div>
    <div class="resin">resin</div>
  </div>
  <!-- WISH CHARTS -->
  <div class="wish-charts-row">
    <div class="pie-charts-row">
      <div class="pie-chart-container">character</div>
      <div class="pie-chart-container">weapon</div>
      <div class="pie-chart-container">standard</div>
    </div>
    <div class="wish-spends-chart">spends chart</div>
  </div>
  <!-- ABYSS STATS + WISH TABLE -->
  <div class="abyss-wish-row">
    <div class="abyss-container">abyss stats</div>
    <div class="wish-history-table">wish table</div>
  </div>
</div>
