<!-- <div class="central-panel dashboard-container">
  <div class="resin-row">
    <div class="today card">today</div>
    <div class="resin card">resin</div>
  </div>
  <div class="wish-charts-row">
    <div class="pie-charts-row">
      <div class="card pie-chart-container">character</div>
      <div class="card pie-chart-container">weapon</div>
      <div class="card pie-chart-container">standard</div>
    </div>
    <div class="card wish-spends-chart">spends chart</div>
  </div>
  <div class="abyss-wish-row">
    <div class="card abyss-container">abyss stats</div>
    <div class="card wish-history-table">wish table</div>
  </div>
</div> -->

<div class="central-panel">
  <div class="quick-info-banner">
    <p>Siguiente Abyss en 10 días</p>
    <p>Siguiente banner en 7 días</p>
    <p>Siguiente vesión en 37 días</p>
  </div>
  <div class="cards-wrapper">
    <div class="column">
      <div class="card resin-card">
        <div>plan hoy</div>
        <div>5 filas plan</div>
      </div>
      <div class="card abyss-card">abyss card</div>
    </div>
    <div class="column">
      <div class="card savings-card">
        <div>roscos pity</div>
        <div>grafica tiradas</div>
      </div>
      <div class="card wish-history-card">history card</div>
    </div>
  </div>
</div>
