@import 'src/assets/variables.scss';

$menu-width-wide: 200px;
$menu-width-collapsed: 50px;

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 106px);
}

app-navbar {
  height: 50px;
  display: flex;
}

app-main-menu {
  width: $menu-width-wide;
  @media (max-width: $breakpoint-tablet) {
    width: $menu-width-collapsed;
  }
}
