@import 'src/assets/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 111px);
}

app-navbar {
  height: 75px;
  display: flex;
}

app-main-menu {
  width: $menu-width-wide;
  @media (max-width: $breakpoint-tablet) {
    width: $menu-width-collapsed;
  }
}
