// *** COLOURS *** //
$background-color: #13121c;
$card-background-color: #222233;
$primary-font-color: white;
$secondary-font-color: #717a95;
$primary-color: #56ffff;
$secondary-color: #947fff;
$tertiary-color: #47b7ff;

// *** BREAKDOWN POINTS ***//
$breakpoint-tablet: 758px;
$breakpoint-mobile: 375px;

// *** MENU WIDTH *** //
$menu-width-wide: 200px;
$menu-width-collapsed: 70px;
