@import 'src/assets/variables.scss';

@font-face {
  font-family: SofiaSansCondensed;
  font-size: 16px;
  src: url('./assets/fonts/sofiasanscondensed.woff2') format('woff2'),
       url('./assets/fonts/sofiasanscondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $background-color;
  color: $primary-font-color;
  font-family: SofiaSansCondensed;
}

.card {
  background-color: $card-background-color;
}

